# .editorconfig --- EditorConfig of Yuansheng Kit project

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
tab_width = 2
trim_trailing_whitespace = true

[*.{cjs,cts,d.cts,d.mts,d.ts,js,json,jsonc,jsx,mjs,mts,ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100
tab_width = 2

[*.md]
indent_size = 2
indent_style = space
max_line_length = 80
trim_trailing_whitespace = false

[*.nix]
indent_size = 2
indent_style = space
max_line_length = 50
tab_width = 2

[*.py]
indent_style = space
indent_size = 4
max_line_length = 79
tab_width = 4
