# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# direnv
/.direnv

# nix
/repl-result-out
/result
/result-*

# python
**/__pycache__/
*.py[cod]
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/

# typescript
/coverage
/dist
**/node_modules/

# .gitignore ends here
